name: Deploy

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  Tests:
    uses: ./.github/workflows/testing.yml
    secrets:
      CODECOV_CREDENTIALS: ${{ secrets.CODECOV_CREDENTIALS }}

  RemoteTests:
      uses: ./.github/workflows/remote_testing.yml
      secrets:
          IPINFO_API_KEY: ${{ secrets.IPINFO_API_KEY }}
          OPENCAGE_KEY: ${{ secrets.OPENCAGE_KEY }}
          CODECOV_CREDENTIALS: ${{ secrets.CODECOV_CREDENTIALS }}
